path {
  fill: white;
  stroke: black;
  border: 1 px;
  /* display: block;
  margin: 0 auto;
    a{
      polygon,
      path{
        @include transition-property(opacity);
        @include transition-duration(.5s);
        @include transition-timing-function(ease);
      }
      &:hover,
      &:focus{
        cursor: pointer;
        polygon,
        path{
          opacity: 0.25;
        }
      }
   } */
 }

path.focus{
  fill: green;
}

path:hover {
 fill: red;
}

path.map_point {
  fill: none;
  stroke: none;
}