body {
  font-family: 'Noto Sans TC', sans-serif;
}

nav.head {
  background-color: #0077C2;
}

.container {
  max-width: 1366px;
}

.header .h1 {
  font-size: 1.5em;
}

.card{
  border-radius: 1rem;
}

.card .card-title {
  padding-left: 1rem;
  padding-top: 1rem;
}

.waterLight_img {
  width: 100%;
  height: auto;
  /* margin: 1.2%; */
}

.waterLight_date {
  font-size: 0.8rem;
  display:inline;
  /* margin-right: 2rem; */
  /* text-align: center; */
}

.waterLight_hr {
  /* width: 100%; */
  color: gray;
  margin: 0.5rem;
}

#cross .map img{
  height: 50vh;
  object-fit: contain;
}

#cross .fieldsel.btn.active{
  background-color: rgb(0, 0, 0);
}

#cross .fieldsel.btn{
  background-color: rgb(144, 144, 144);
  border: none;
}

#figsel p{
  font-size: 12px;
  margin: none;
}

#func_fig .card-img{
  width:100%;
  height: 30vh;
  object-fit: contain;
}

/* #single .result .card-img{
  width:100%;
  height: 30vh;
  object-fit: contain;
} */

#main .container{
  background-color: #CFF8F4;
}

/* #main img{
  background-color: #FFFFFF;
} */

/* #func_fig .container{
  max-width: 1000px;
} */

#footer .container{
  background-color: #0077C2;
}

#footer p{
  display: block;
  color:rgb(255, 255, 255);
}

#footer a{
  color:gray;
}

.backicon{
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
  margin-right: 0.25rem;
}

.backclasssel{
  background-color: #CFF8F4;
}

.backclasssel .nav-tabs .nav-link:active, .backclasssel .nav-tabs .nav-link.active, .backclasssel .nav-tabs .nav-link:hover, .backclasssel .nav-tabs .nav-link:focus{
  border: 1px solid #bdbdbd;
  border-bottom: none;
}

.backclasssel .nav-link.view:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.datatype{
  border-radius: 0.3rem;
}

.datatype h5{
  color: #FFF;
  text-align: center;
}

.arrow p{
  text-align: center;
}

/* .tooltype{
  border-radius: 0.3rem;
  background-color: blue;
} */

.tooltype h5{
  color: #FFF;
  text-align: center;
  border-radius: 0.3rem;
  background-color: blue;
}

#dataview a{
  margin-bottom: 3px;
  line-height: 1.1;
}

.dikwcard{
  min-height: 30vh;
}
